@import '../text/text'

.selectList
	@extend .textField

	select
		padding 8px 0px
		max-width 100%
		width 400px
		outline none
		// background content('\003e')
		// background url(images/inpbg.png) repeat-x 0 0
		border none
		border-bottom 1.5px solid #4a4a4a !important
		border-radius 0px
		background-color transparent
		color #9b9b9b
		font-size 16px
		font-family Verlag A, Verlag B, Verlag, helvetica, arial, sans-serif
		-webkit-appearance none
		-moz-appearance none
		-ms-appearance none
		appearance none

.selectList-label
	labelStyles()

.selectList-input
	inputStyles()

	border-bottom 1.5px solid #4a4a4a

.selectList-legend
	legendStyles()

	color warmGrey

.selectList-error
	legendStyles()

	color redPrimary
