@import '../../../../../styles/shared/constants_2017.styl'
@import '../../../../../styles/shared/guide_2017/index.styl'

normalize()
black = #000000
white = #ffffff
primaryColor = #4a4a4a
secondaryColor = #759ba4
warmGrey = #979797
grey = #c2c2c2
lightGrey = #e5e5e5
bgColor = #fbfbfb
lightBlue = #91afb6
darkBlue = #5e8089
greenPrimary = #93b379
greenSecondary = #7c9b62
redPrimary = #e45d50
redSecondary = #b0443c
yellowPrimary = #ffc13d
yellowSecondary = #ffda6a
beigePrimary = #f8f6f5
beigeSecondary = #ebe5e0
beigeTertiary = #dbd5cd
buffer = 16px
bgColor = #fbfbfb

labelStyles()
  // margin-top 8px
  margin-bottom 0px
  color warmGrey
  text-align left
  text-transform uppercase
  font-weight bold
  font-size 10px

  famVerlag()

  normWt() 
  &.error
    color redPrimary

inputStyles()
  box-sizing border-box
  margin-bottom 1px
  padding 0 0 0.5rem
  max-width 100%
  outline 0
  border none
  border-bottom 1px solid warmGrey
  letter-spacing 0.6
  font-weight normal 
  font-size 16px
  background-color transparent
  normWt() 


  famVerlag()

  &.error
    margin-bottom 0px
    border-bottom 1px solid redPrimary

  &::placeholder
    color grey

  &:focus
    border none
    border-bottom 1.5px solid primaryColor
    color primaryColor

legendStyles()
  margin-top 0px
  margin-bottom 0px
  font-size 12px

  famVerlag()

.textField
  display block
  margin 8px auto
  margin 0px 0 10px
  outline 0
  text-align initial

  label
    labelStyles()


  input
    inputStyles()
    normWt() 

  .legend
    legendStyles()

    color warmGrey

  .error
    legendStyles()

    color redPrimary

  &.error
    label
      labelStyles()

      color redPrimary

    input
      inputStyles()

      border-bottom 1px solid redPrimary
      color redPrimary

.textField-label
  labelStyles()

.textField-input
  inputStyles()

.textField-legend
  legendStyles()

  color warmGrey

.textField-error
  legendStyles()

  color redPrimary
